{% extends 'base.html' %}

{% block title %}Add Medicine{% endblock %}

{% block content %}
<div class="container">
    <h1>Add Medicine to Stock</h1>
    
    <form method="POST">
        <label for="medicine_name">Medicine Name:</label>
        <input type="text" id="medicine_name" name="medicine_name" required>

        <label for="brand">Brand Name:</label>
        <input type="text" id="brand" name="brand" required>

        <label for="dose">Dose (e.g., 500mg, 1g):</label>
        <input type="text" id="dose" name="dose" required>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>

        <input type="submit" value="Add Medicine">
    </form>

    <div class="centered-buttons">
        <a href="{{ url_for('routes.view_stock') }}" class="btn-standard" style="background-color: black; color: white;">View Stock Medicines</a>
    </div>
</div>
{% endblock %}
