{% extends 'base.html' %}

{% block title %}Add Patient Note{% endblock %}

{% block content %}
    <div class="container">
        <h1>Add Patient Note</h1>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">
            <label for="patient_name">Patient Name:</label>
            <select id="patient_name" name="patient_name" required>
                {% for name in patient_names %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>

            <label for="note">Note:</label>
            <textarea id="note" name="note" rows="4" required></textarea>

            <input type="submit" value="Save Note">
        </form>

        <div class="centered-buttons">
            <a href="{{ url_for('routes.view_notes') }}" class="btn-standard" style="background-color: black; color: white;">View Notes</a>
        </div>
    </div>
{% endblock %}
